@page
@model GlucoSmart.Pages.Entries.Glucose.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>GlucoseEntry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GlucoseEntry.BloodSugar" class="control-label"></label>
                <input asp-for="GlucoseEntry.BloodSugar" class="form-control" />
                <span asp-validation-for="GlucoseEntry.BloodSugar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GlucoseEntry.Reading" class="control-label"></label>
                <select asp-for="GlucoseEntry.Reading" class="form-control">
                    <option selected>Please select an option</option>
                    <option>@GlucoSmart.Models.GlucoseEntry.ReadingType.PreMeal</option>
                    <option>@GlucoSmart.Models.GlucoseEntry.ReadingType.PostMeal</option>
                </select>
                <span asp-validation-for="GlucoseEntry.Reading" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GlucoseEntry.Meal" class="control-label"></label>
                <select asp-for="GlucoseEntry.Meal" class="form-control">
                    <option selected>Please select an option</option>
                    <option>@GlucoSmart.Models.GlucoseEntry.MealType.Breakfast</option>
                    <option>@GlucoSmart.Models.GlucoseEntry.MealType.Lunch</option>
                    <option>@GlucoSmart.Models.GlucoseEntry.MealType.Dinner</option>
                </select>
                <span asp-validation-for="GlucoseEntry.Meal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
