@page
@model GlucoSmart.Pages.Entries.Glucose.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table>
    <tr>
        <td>
            <a asp-page="Create">Create New</a> | 
            @if (User.IsInRole("Doctor"))
            {
            <a href="/Entries/Charts/GlucoseChart?username=@Model.Username">View Chart</a> 
            }
            @if (User.IsInRole("Patient"))
            {
            <a href="/Entries/Charts/GlucoseChart">View Chart</a>
            }
        </td>
    </tr>
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GlucoseEntry[0].BloodSugar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlucoseEntry[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlucoseEntry[0].Reading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GlucoseEntry[0].Meal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GlucoseEntry) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BloodSugar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meal)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
