@page
@model GlucoSmart.Pages.Entries.Food.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FoodEntry</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodEntry.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodEntry.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodEntry.Carbs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodEntry.Carbs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodEntry.Calories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodEntry.Calories)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodEntry.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodEntry.Date)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="FoodEntry.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
